.top-shows .list-group-item {
  border: none;
  padding: 5px 1.2rem;
}

.common-characteristics .list-group-item {
  border: none;
  padding: 5px 1.2rem;
}

.row-wrapper {
  padding: 10px;
}

.modal-dialog {
  max-width: 800px;
}

.modal-body {
  padding: 20px 30px;
}