.region-modal {
  width: 100%;
  height: 100%;
  max-width: 80% !important;
}

.top-shows .list-group-item {
  border: none;
  padding: 5px 1.2rem;
}

.common-characteristics .list-group-item {
  border: none;
  padding: 5px 1.2rem;
}

.row-wrapper {
  padding: 10px;
}